@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply flex flex-row overflow-hidden;
}

@layer utilities {
  .text-balance {
    /* text-wrap: balance; */
  }
}

.container {
  @apply flex flex-col h-[100vh] space-x-4 w-[50vw] bg-gray-200 p-4;
}
