@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply flex flex-col overflow-auto bg-black text-white font-bahnschrift;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.page {
  @apply p-4 flex-col gap-2 flex-1 flex justify-center;
}

a {
  @apply hover:brightness-75 transition;
}
